In [1]:
# Set up dependencies
import pandas as pd
import json
import matplotlib.pyplot as plt
from sqlalchemy import create_engine, inspect

In [2]:
# Reference the file where the CSV is located
data_df = 'data_files/data.csv'
# Import the data into a Pandas DataFrame
data_df = pd.read_csv(data_df)
data_df.head()

,acousticness,artists,danceability,duration_ms,energy,explicit,id,instrumentalness,key,liveness,loudness,mode,name,popularity,release_date,speechiness,tempo,valence,year
0,0.995,['Carl Woitschach'],0.708,158648,0.1950,0,6KbQ3uYMLKb5jDxLF7wYDD,0.563,10,0.1510,-12.428,1,Singende Bataillone 1. Teil,0,1928,0.0506,118.469,0.7790,1928
1,0.994,"['Robert Schumann', 'Vladimir Horowitz']",0.379,282133,0.0135,0,6KuQTIu1KoTTkLXKrwlLPV,0.901,8,0.0763,-28.454,1,"Fantasiestücke, Op. 111: Più tosto lento",0,1928,0.0462,83.972,0.0767,1928
2,0.604,['Seweryn Goszczyński'],0.749,104300,0.2200,0,6L63VW0PibdM1HDSBoqnoM,0.000,5,0.1190,-19.924,0,Chapter 1.18 - Zamek kaniowski,0,1928,0.9290,107.177,0.8800,1928
3,0.995,['Francisco Canaro'],0.781,180760,0.1300,0,6M94FkXd15sOAOQYRnWPN8,0.887,1,0.1110,-14.734,0,Bebamos Juntos - Instrumental (Remasterizado),0,1928-09-25,0.0926,108.003,0.7200,1928
4,0.990,"['Frédéric Chopin', 'Vladimir Horowitz']",0.210,687733,0.2040,0,6N6tiFZ9vLTSOIxkj8qKrd,0.908,11,0.0980,-16.829,1,"Polonaise-Fantaisie in A-Flat Major, Op. 61",1,1928,0.0424,62.149,0.0693,1928

In [3]:
# update df to filter by decades
cleaned_data = data_df[['danceability', 'energy', 'speechiness', 'tempo','year']]
filtered_df = cleaned_data[(data_df['year'] >= 1950) & (data_df['year'] <= 1979)]
filtered_df

        danceability  energy  speechiness    tempo  year
1054           0.633  0.2610       0.7970  167.679  1950
1055           0.420  0.0909       0.0409  123.089  1950
1056           0.394  0.2580       0.1100   74.761  1950
1057           0.618  0.2720       0.7310   67.141  1950
1058           0.475  0.4070       0.0492   74.130  1950
...              ...     ...          ...      ...   ...
165804         0.382  0.2510       0.0400  115.249  1979
165805         0.741  0.0875       0.0512   87.524  1979
165806         0.548  0.5830       0.0447  116.691  1979
165807         0.616  0.3840       0.0527  143.334  1979
165808         0.342  0.0555       0.0333  152.821  1979

[59950 rows x 5 columns]

In [40]:
year50s = filtered_df.loc[(filtered_df['year'] >= 1950) & (filtered_df['year'] <= 1959)]
year50s_df = pd.DataFrame(year50s).groupby('year').mean()

year60s = filtered_df.loc[(filtered_df['year'] >= 1960) & (filtered_df['year'] <= 1969)]
year60s_df = pd.DataFrame(year60s).groupby('year').mean()

year70s = filtered_df.loc[(filtered_df['year'] >= 1970) & (filtered_df['year'] <= 1979)]
year70s_df = pd.DataFrame(year70s).groupby('year').mean()

decade_groups = [year50s_df, year60s_df, year70s_df]

years_filtered = pd.concat(decade_groups).reset_index()
# years_filtered.columns = ['the_50s', 'the_60s', 'the_70s']
# years_df = years_filtered.reset_index().rename(columns={'index': 'measurement'})
years_filtered

    year  danceability    energy  speechiness       tempo
0   1950      0.491433  0.324979     0.118183  111.768489
1   1951      0.459766  0.250260     0.107834  109.183712
2   1952      0.462659  0.251581     0.164197  107.591128
3   1953      0.436234  0.265310     0.096054  109.014178
4   1954      0.466630  0.259361     0.115995  108.532237
5   1955      0.490183  0.287021     0.106620  110.391857
6   1956      0.484883  0.306299     0.064054  111.814485
7   1957      0.507433  0.296748     0.065721  112.308124
8   1958      0.481585  0.311423     0.057850  112.869024
9   1959      0.488865  0.316798     0.071848  112.506105
10  1960      0.487343  0.347200     0.066810  112.965354
11  1961      0.489204  0.343306     0.062203  112.306390
12  1962      0.499203  0.379657     0.058174  114.924049
13  1963      0.486331  0.373388     0.054633  114.546598
14  1964      0.506586  0.397462     0.065153  115.038635
15  1965      0.504852  0.445831     0.058230  117.611519
16  1966      0.503569  0.472649     0.055645  116.316601
17  1967      0.498445  0.452212     0.051050  117.582517
18  1968      0.500480  0.456669     0.060098  116.488288
19  1969      0.490498  0.489581     0.056187  116.956524
20  1970      0.509339  0.497005     0.053003  117.228647
21  1971      0.504519  0.500451     0.061720  118.234464
22  1972      0.520847  0.506952     0.054874  119.249346
23  1973      0.513551  0.534839     0.057581  120.419363
24  1974      0.520529  0.521902     0.059337  119.827762
25  1975      0.523718  0.534788     0.061735  119.095331
26  1976      0.532804  0.555977     0.065038  121.147462
27  1977      0.537294  0.564516     0.060624  122.027120
28  1978      0.544783  0.570142     0.063965  121.092253
29  1979      0.561816  0.598865     0.068769  122.945420

In [41]:
years_filtered.to_csv('./data_files/filtered_data.csv', index=False)

In [ ]:
# Create engine
engine = create_engine('postgresql://postgres:Jakob2002!@localhost:5432/Project2_musical_geniuses')
conn = engine.connect()

In [ ]:
engine.table_names()

In [ ]:
years_df.to_sql(name='music_data', if_exists='replace', con=engine, index=False)

In [ ]:
pd.read_sql_query('select * from music_data', con=engine)